<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Heroic Features - Start Bootstrap Template</title>
  
  <!-- Bootstrap core CSS -->
  <!--<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-0 px-5 ">
      <h1 class="display-3 text-info">Welcome to cinema</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="navbar-brand" href="/register">Register<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/login">Login</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- Page Features -->
    <div class="row m-0">

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 0.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 1.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 2.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 3.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
    <div class="row m-0">

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 0.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 1.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 2.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 p-0">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">INSERT MOVIE NAME 3.</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">RESERVE NOW</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
      <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
  <!-- /.container -->



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
