<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
	  
		<title>Heroic Features - Start Bootstrap Template</title>
	  
		<!-- Bootstrap core CSS -->
		<!--<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">   -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous">
		<style>
				.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

				small {
				display: block;
				line-height: 1.428571429;
				color: #999;
				}
		</style>
  	</head>
  	<body class="">
    <!-- Jumbotron Header -->
		<div class="container">
			<header class="jumbotron my-0 px-5 ">
			<h1 class="display-3 text-info">Welcome to cinema</h1>
			</header>

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
			</nav>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="well well-sm">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
							</div>
							<div class="col-sm-6 col-md-4">
							</div>
							<div class="col-sm-6 col-md-8">
								<h4>Ime Prezime</h4>
								<small><cite title="San Francisco, USA">Grad, Drzava <i class="glyphicon glyphicon-map-marker">
								</i></cite></small>
								<p>
									<i class="glyphicon glyphicon-envelope"></i>email@example.com
									<br />
									<i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
									<br />
									<i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
								<!-- Split button -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>